<mat-toolbar class="b-cream show-pc">
  <mat-toolbar-row class="d-flex j-content-bet">
    <div>
      <a routerLink="app-home">
        <img src="assets/img/logo-horizontal.png" class="logo-size"/>
      </a>
    </div>
    <div>
      <button class="b-purple c-white" mat-button routerLink="app-location">Trouver un restaurant</button>
    </div>
    <div>
      <button class="b-purple c-white" mat-button routerLink="app-pizzaList">Carte des pizzas</button>
    </div>
    <div>
      <button class="b-purple c-white" matBadgeColor="warn" routerLink="app-shop" mat-button>Panier</button>
    </div>
    <div *ngIf="!status">
      <button mat-raised-button class="b-white c-purple" routerLink="app-connexion">Connexion</button>
    </div>
    <div *ngIf="status">
      <button routerLink="app-account" mat-fab color="warn" class="b-purple">
        <mat-icon class="c-white">home</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="show-mobile max-size b-cream">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="app-home">Accueil</button>
    <button mat-menu-item routerLink="app-pizzaList">Pizza</button>
    <button mat-menu-item routerLink="app-shop">Panier</button>
    <button mat-menu-item routerLink="app-connexion">Connexion</button>
  </mat-menu>

</div>
