<div class="d-c-flex">
  <div class="b-lightcream d-right">
    <div class="identity">
      <div class="edit-button">
        <ngx-avatar size="100" src="https://thispersondoesnotexist.com/image"></ngx-avatar>
      </div>
      <div>
        <div *ngIf="leUser !== undefined">
          <h3 class="profil-title">{{ leUser.name }} {{ leUser.lastname }}</h3>
        </div>
        <div *ngIf="leUser === undefined">
          <h3 class="profil-title">Chargement...</h3>
        </div>
      </div>
    </div>
    <div class="navbar-profil c-purple">
      <p><a class="link-style" (click)="showPage(num=1)">Mes commandes</a></p>
      <p><a class="link-style" (click)="showPage(num=2)">Mes adresses</a></p>
      <p><a class="link-style" (click)="showPage(num=3)">Mes moyens de paiement</a></p>
      <p><a class="link-style" (click)="showPage(num=4)">Mes informations</a></p>
      <p><a class="link-style" (click)="logout()">Déconnexion</a></p>
    </div>
  </div>
  <div class="d-left">
    <div *ngIf="num == 1">
      <h1 class="title">Mes commandes</h1>
      <table class="max-size tab">
        <thead>
        <th>Numero de commande</th>
        <th>Prix total</th>
        <th>Description</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr *ngFor="let receipt of myReceipts">
          <td>{{receipt.id}}</td>
          <th>{{receipt.price}}e</th>
          <td>{{receipt.desc}}</td>
          <td class="align-icon">
            <button mat-button (click)="openDialogCommandes()"><mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="num == 2">
      <h1 class="title">Mes adresses</h1>
      <p class="form-info">Affichez et éditez vos adresses ci-dessous.</p>
      <mat-divider></mat-divider>
        <table class="max-size tab">
          <thead>
          <th>Ligne 1</th>
          <th>Ligne 2</th>
          <th>Ville</th>
          <th>Code postal</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr>
            <td>Rue du puy</td>
            <td></td>
            <td>Lyon</td>
            <td>69004</td>
            <td class="align-icon">
              <button mat-button><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
          </tbody>
        </table>
      <mat-divider></mat-divider>
      <h1 class="title">Ajouter une adresse</h1>
      <div class="form-info">
        <a (click)="openDialogAdresse()">
          <button mat-fab class="c-white b-grey">
            <mat-icon>add</mat-icon>
          </button>
        </a>
      </div>
    </div>
    <div *ngIf="num == 3">
      <h1 class="title">Mes moyens de paiement</h1>
      <p class="form-info">Affichez et éditez vos adresses ci-dessous.</p>
      <mat-divider></mat-divider>
      <form>
        <table class="max-size tab">
          <thead>
            <th>Numero</th>
            <th>Nom</th>
            <th>Date d'expiration</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>XXXX XXXX XXXX X324</td>
              <td *ngIf="leUser !== undefined">{{ leUser.name }} {{ leUser.lastname }}</td>
              <td *ngIf="leUser === undefined">Chargement...</td>
              <td>02/27</td>
              <td class="align-icon">
                <button mat-button><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <mat-divider></mat-divider>
      <h1 class="title">Ajouter un moyen de paiement</h1>
      <div class="form-info">
        <a (click)="openDialogPay()">
          <button mat-fab class="c-white b-grey">
            <mat-icon>add</mat-icon>
          </button>
        </a>
      </div>
    </div>
    <div *ngIf="num == 4">
      <h1 class="title">Mon compte</h1>
      <p class="form-info">Affichez et éditez vos informations personnelles ci-dessous.</p>
      <mat-divider></mat-divider>
        <form class="form-info">
          <div>
            <mat-form-field class="div-full-width" appearance="fill">
              <mat-label>Prénom</mat-label>
              <input matInput>
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <mat-form-field class="div-full-width" appearance="fill">
              <mat-label>Nom de famille</mat-label>
              <input matInput>
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="div-full-width" appearance="fill">
              <mat-label>E-mail</mat-label>
              <input matInput>
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Téléphone</mat-label>
              <input matInput>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>
          <div class="button-info">
            <button mat-raised-button class="b-grey c-white">Actualiser les infos</button>
          </div>
        </form>
    </div>
  </div>
</div>
