@import '../colors.css';
/*****************Logo*****************/
.logo-size {
  height: 3em;
  margin-top: 0.5em;
}

.img-card-size {
  height: 3em;
  margin-top: 3em;
}
/*****************Logo*****************/

/*****************Header****************/
.d-flex {
  display: flex;
}

.j-content-bet {
  justify-content: space-between;
}

.j-content-ar {
  justify-content: space-around;
}

.marg2 {
  margin: 2em;
}
/*****************Header****************/
/*****************Sidebar****************/
@media (max-width: 599px) {
  .show-pc {
    display: none;
  }

  .icon-size {
    margin: 1em;
  }
}

@media (min-width: 601px) {
  .show-mobile {
    display: none;
  }

  .max-size {
    width: 100%;
  }
}
/*****************Sidebar****************/
.mail-connexion {
  display: flex;
}

.d-c-flex {
  display: flex;
}

.d-right {
  width: 50%;
}

.d-left {
  width: 150%;
}
/*****************LEFT zone****************/
.idendity {
  margin: 2em;
  padding: 1em;
  border: 2px solid black;
}

.edit-button {
  display: flex;
  justify-content: space-between;
}

.profil-title {
  margin-top: 2em;
  font-weight: bold;
}
/*****************LEFT zone****************/
/*****************RIGHT zone****************/
.navbar-profil {
  margin: 2em;
  padding: 1em;
  border: 2px solid black;
}

.link-style {
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}
/*****************RIGHT zone****************/
