
<<<<<<< HEAD

body{
    min-height: 100%;
    padding-left: 1%;
=======
body{
 padding-left: 1%;
>>>>>>> T12
}
h2{
    padding-left: 1%;
}
h3{
    padding-left: 2%;
}
h4{
    padding-left: 3%;
}
<<<<<<< HEAD
=======
component{
    padding: auto;
}
>>>>>>> T12

