<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="top">
    <div id="search-div">
      <img id="loupe-img" src="../../assets/img/loupe.png"/>
      <input id="search-input" onkeyup="search_restaurants()" type="text" placeholder="Recherche d'un restaurant">
    </div>
  </div>
  <div id="bottom">
    <div id="left">
      <div id="map-div">
        <agm-map
          [latitude]='lat'
          [longitude]='lng'
          [zoom]="15"
          [disableDefaultUI]="true"
        >
          <agm-marker
            [latitude]="lat"
            [longitude]="lng">
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <div id="right">
      <div id="restaurants-div">
        <div class="restaurants" *ngFor="let restaurant of restaurants">
          <div class="restaurant-card">
            <div class="first-card-div">
              <span>
                {{ restaurant.name }}
              </span>
            </div>
            <div class="second-card-div">
              <span>
                {{ restaurant.address }}
              </span>
            </div>
            <div class="third-card-div">
              <span>
                {{ restaurant.zipcode }}
              </span>
              <span>
                {{ restaurant.city }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
