<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="top">
    <div id="search-div">
      <img id="loupe-img" src="../../assets/img/loupe.png"/>
      <input id="search-input" onkeyup="search_restaurants()" type="text" placeholder="Recherche d'un restaurant">
    </div>
  </div>
  <div id="bottom">
    <div id="left">
      <div id="map-div">
        <agm-map
          [latitude]='lat'
          [longitude]='lng'
          [zoom]="15"
          [disableDefaultUI]="true"
        >
          <agm-marker
            [latitude]="lat"
            [longitude]="lng">
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <div id="right">
      <div id="restaurants-div">
        <div class="restaurants">
          <div class="restaurant-card">
            <div class="first-card-div">
              <span>
                GoodFood Lyon
              </span>
            </div>
            <div class="second-card-div">
              <span>
                19 Quai Tilsitt
              </span>
            </div>
            <div class="third-card-div">
              <span>
                69002
              </span>
              <span>
                Lyon
              </span>
            </div>
          </div>
          <div class="restaurant-card">
            <div class="first-card-div">
              <span>
                GoodFood Saint-Etienne
              </span>
            </div>
            <div class="second-card-div">
              <span>
                Place de l’hôtel de Ville
              </span>
            </div>
            <div class="third-card-div">
              <span>
                42000
              </span>
              <span>
                Saint-Etienne
              </span>
            </div>
          </div>
          <div class="restaurant-card">
            <div class="first-card-div">
              <span>
                GoodFood Marseille
              </span>
            </div>
            <div class="second-card-div">
              <span>
                72 Rue Paul Coxe
              </span>
            </div>
            <div class="third-card-div">
              <span>
                13014
              </span>
              <span>
                Marseille
              </span>
            </div>
          </div>
          <div class="restaurant-card">
            <div class="first-card-div">
              <span>
                GoodFood Paris
              </span>
            </div>
            <div class="second-card-div">
              <span>
                71 Av. Henri Martin
              </span>
            </div>
            <div class="third-card-div">
              <span>
                75016
              </span>
              <span>
                Paris
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
