@import 'colors.css';
/*****************Logo*****************/
.logo-size {
  height: 3em;
  margin-top: 0.5em;
}

.img-card-size {
  height: 3em;
  margin-top: 3em;
}
/*****************Logo*****************/

/*****************Header****************/
.d-flex {
  display: flex;
}

.j-content-bet {
  justify-content: space-between;
}

.j-content-ar {
  justify-content: space-around;
}

.marg2 {
  margin: 2em;
}
/*****************Header****************/
