<mat-toolbar class="b-cream">
  <mat-toolbar-row class="d-flex j-content-bet">
      <div>
        <img src="assets/img/logo-horizontal.png" class="logo-size"/>
      </div>
      <div>
        <button mat-button>Trouver un restaurant</button>
      </div>
      <div>
        <button mat-button>Carte des pizzas</button>
      </div>
      <div>
        <button mat-flat-button>Connexion</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="d-flex j-content-ar marg2">
  <mat-card>
    <mat-card-title>Pizza prototype</mat-card-title>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Pizza prototype</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Pizza prototype</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
</div>
