/*****************Colors****************/
.c-white {
  color : #FFFFFF;
}

.b-white {
  background-color : #FFFFFF;
}

.c-cream {
  color : #9D5B45;
}

.b-cream {
  background-color : #9D5B45;
}

.c-lightcream {
  color : #FFC269;
}

.b-lightcream {
  background-color : #FFC269;
}

.c-grey {
  color : #707070;
}

.b-grey {
  background-color : #707070;
}

.c-black {
  color : #000000;
}

.b-purple {
  background-color: #3A0176;
}

.c-purple {
  color: #3A0176;
}
/*****************Colors****************/
