<div id="connexion">
  <div id="body">
    <div class="div-margin div-center">
      <h2>Connexion</h2>
    </div>
    <div>
      <mat-form-field class="div-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="div-full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput>
      </mat-form-field>
    </div>
    <div id="link-forget-password">
      <a class="link-style c-purple" href="#">Mot de passe oublié</a>
    </div>
    <div class="div-margin">
      <a mat-raised-button class="div-full-width b-white c-purple" href="/app-home">Connexion</a>
    </div>
    <div class="div-margin div-center">
      <label id="inscription">
        Pas encore inscrit ? <a class="link-style c-purple" href="#">Cliquez ici</a>
      </label>
    </div>
  </div>
</div>
