.div-margin {
  padding-top: 5%;
}

.div-center {
  text-align: center;
}

#connexion {
  height: 80%;
  background-color : #ECE4C5;
}

#body {
  padding-top: 10%;
  margin-left: 43%;
  margin-right: 43%;
}

#link-forget-password {
  text-align: center;
}

.link-style {
  font-size: 85%;  
  font-style: italic;
  text-decoration: none;
  color: blue;
}

.div-full-width {
  width: 100%;
}

#button-connexion {
  width: 100%;
}