<div id="inscription">
  <div id="body">
    <div class="div-margin div-center">
      <h2>Inscription</h2>
    </div>
    <div id="left">
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input type="password" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Confirmez votre mot de passe</mat-label>
          <input type="password" matInput>
        </mat-form-field>
      </div>
    </div>
    <div id="right">
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input type="password" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Adresse</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Code postal</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Ville</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-full-width" appearance="fill">
          <mat-label>Pays</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div id="signup-button" class="div-margin">
      <a id="signup-link" mat-raised-button class="b-white c-purple" href="/app-home">Inscription</a>
    </div>
    <div class="div-margin div-center">
      <label id="connexion">
        Vous possédez un compte ? <a class="link-style c-purple" href="/app-connexion">Cliquez ici</a>
      </label>
    </div>
  </div>
</div>
