@import '../colors.css';

.div-margin {
  padding-top: 5%;
}

.div-center {
  text-align: center;
}

#inscription {
  background-color : #ECE4C5;
  min-height: 86.2%
}

#body {
  padding-top: 7%;
  margin-left: 36%;
  margin-right: 36%;
}

.link-style {
  font-size: 85%;
  font-style: italic;
  text-decoration: none;
}

.div-full-width {
  width: 100%;
}

#signup-button {
  text-align: center;
}

#signup-link {
  display: inline-block;
  width: 40%;
}

#left {
  float: left;
  width: 45%;
}

#right {
  float: right;
  width: 45%;
}


