<div class="d-flex j-content-ar marg2">
  <mat-card>
    <mat-card-title>Pizza prototype</mat-card-title>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Pizza prototype</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Pizza prototype</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
</div>
