<button mat-raised-button class="marg05 b-redbrown">Ajouter une pizza</button>
<div class="d-flex j-content-ar marg2 r-line">
  <div *ngFor="let pizza of lesPizzas">
    <mat-card class="card-size">
      <div class="cross-align">
        <a><img src="assets/img/cross.png" class="cross-size"/></a>
      </div>
      <mat-card-title>{{ pizza.name }}</mat-card-title>
      <img class="pizzas-size" mat-card-image src="assets/img/{{ pizza.img }}.png">
      <mat-card-subtitle>{{ pizza.price }} euros</mat-card-subtitle>
      <mat-card-content class="content-size">{{ pizza.description }}</mat-card-content>
      <mat-card-actions align="end">
        <button mat-button class="b-lightcream">Ajouter</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
