@import '../colors.css';
/*****************Logo*****************/
.logo-size {
  height: 3em;
  margin-top: 0.5em;
}

.img-card-size {
  height: 3em;
  margin-top: 3em;
}
/*****************Logo*****************/

/*****************Header****************/
.d-flex {
  display: flex;
}

.j-content-bet {
  justify-content: space-between;
}

.j-content-ar {
  justify-content: space-around;
}

.marg2 {
  margin: 2em;
}
/*****************Header****************/

#first-img {
  width: 50%;
}

#second-img {
  width: 50%;
}

#parent-shape {
  width: 40%;
  height: 13em;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  margin-top: 12%;
  margin-left: 28%;
}

#parent-text {
  width: 100%;
  font-family: bold;
  padding-left: 12em;
  padding-bottom: 2em;
}

#first-shape {
  width: 40%;
  height: 6.5em;
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  float:right;
  display: flex;
  justify-content: center;
}

#first-text {
  color: #FFFFFF;
  float:right;
  font-family: bold;
  padding-top: 3em;
}

#second-shape {
  width: 40%;
  height: 6.5em;
  background-color: saddlebrown;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  justify-content: center;
}

#second-text {
  color: #FFFFFF;
  float:right;
  font-family: bold;
  padding-top: 3em;
}
