@import '../colors.css';
/*****************Logo*****************/
.logo-size {
  height: 3em;
  margin-top: 0.5em;
}

.img-card-size {
  height: 3em;
  margin-top: 3em;
}
/*****************Logo*****************/

/*****************Header****************/
.d-flex {
  display: flex;
}

.j-content-bet {
  justify-content: space-between;
}

.j-content-ar {
  justify-content: space-around;
}

.marg2 {
  margin: 2em;
}
/*****************Header****************/

#content {
  width: 100%;
}

#div-title {
  min-height: 15vh;
  display: flex;
}

#title {
  margin: auto;
  font-size: 2em;
}

#background {
  width: 100%;
  background-image: url('../../assets/img/home-background.png');
  position: absolute;
}

.div-buttons {
  width: 100%;
}

#div-1 {
  width: 50%;
  float: left;
}

#div-2 {
  width: 50%;
  float: right;
}

.choice {
  margin-top: 10em;
  margin-bottom: 10em;
}

#take-away {
  margin-left: 25em;
  margin-right: 5em;
}

#delivery {
  margin-left: 5em;
  margin-right: 25em;
}

.buttons {
  display: flex;
  border: 0.5em solid white;
  border-radius: 1em;
}

.links {
  text-decoration: none;
  text-align: center;
}

.buttons:hover {
  background-color: #3A0176;
}

.img-size {
  width: 10em;
}

.text {
  width: 75%;
  margin: auto;
  color: white;
  font-size: 2em;
}
