<div id="content">
  <div id="div-title">
    <span id="title">
      Commencez votre commande
    </span>
  </div>
  <div id="background">
    <div class="div-buttons">
      <div id="div-1">
        <div class="choice" id="take-away">
          <a class="links" href="/app-location">
            <div class="buttons" id="button-1">
              <img class="img-size" id="img-1" src="../../assets/img/house.png"/>
              <span class="text">
                A EMPORTER
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="div-buttons">
      <div id="div-2">
        <div class="choice" id="delivery">
          <a class="links" href ="/app-location">
            <div class="buttons" id="button-2">
              <img class="img-size" id="img-2" src="../../assets/img/moto.png"/>
              <span class="text">
                LIVRAISON
              </span>
            </div>
          </a>
        </div>
      </div>  
    </div>  
  </div>
</div>
